body {
	background-color: white;
	color: purple;
	font-family: Verdana;
}
button {
	background-color: white;
	border-radius: 20px;
	color: purple;
	cursor: pointer;
	margin: 1%;
	font-size: 15px;
	height: 25px;
	width: 250px;
	border: 1px purple solid;
}

input:focus, textarea:focus, select:focus{
    outline: none; 	
}
select:hover {
	cursor: pointer
}
select {
	background-color: white;
	border: none;
	border-bottom: 2px solid white;
	width: 40%;
	cursor: pointer;
	color: purple;
}

button:focus {
	outline: none;
}

button:hover {
	font-size: 17.5px;
	height: 27.5px;
	width: 275px;
}
.flex {
	justify-content: space-between;
	display: flex;
}
.col-left {
	width: 70%;
}
.col-right {
	width: 30%;
}
#record-status {
	display: block;
	margin-left: 1%;
}
#allResults {
	height: 80vh;
	overflow-y: scroll;
}
#allResults::-webkit-scrollbar {
  display: none;
}