body {
	background-color: white;
	color: #320E44;
	font-family: courier, monospace;
}
button {
	background-color: white;
	border-radius: 20px;
	color: #320E44;
	cursor: pointer;
	margin: 1%;
	font-size: 15px;
	height: 30px;
	width: 225px;
	border: 1px #320E44 solid;
	font-family: courier, monospace;
}
button:focus {
	outline: none;
}
button:hover {
	font-size: 17.5px;
	height: 32.5px;
	width: 240px;
}
input:focus, textarea:focus, select:focus{
    outline: none; 	
}
select:hover {
	cursor: pointer
}
input, select {
	background-color: white;
	border: none;
	border-bottom: 2px solid #320E44; 
	width: 450px;
	cursor: pointer;
	color: #320E44;
	font-size: 22px;
}
h1 {
	margin-left: 1.25%;
	opacity: 0;
	margin-top: 2.5%;
}
form, p, .nr-input {
	text-align: center;
	margin-top: 1.5%;
}
.nr-input {
	display: block;
}
img {
	width: 116px;
	height: 100px;
}
header {
	display: flex;
}
sidebar {
	padding:2%;
}
.flex {
	justify-content: space-between;
	display: flex;
}
.inline {
	display: inline;
}
.col-left {
	width: 70%;
}
.col-right {
	width: 30%;
	padding: 2%;
	border-left: 2px solid #320E44;
}
.intro-div {
	opacity: 0;
}
.current-ep {
	border: 2px solid #320E44;
	border-radius: 25px;
	margin: 1%;
	padding: 2%;
}
.time-btn {
	float: right;
	width: 115px;
}
.time-btn:hover {
	width: 120px;
	font-size: 15px;
}
.time-inp {
	width: 50px;
}
.col-2 {
	padding-left: 3%;
	padding-right: 2%;
}
#record-status {
	display: block;
	margin-left: 1%;
}
#allResults {
	height: 70vh;
	overflow-y: scroll;
}
#allResults::-webkit-scrollbar {
  display: none;
}