<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/title-icon.png" />
    <title>Plyssningen v0.1</title>
    {{ moment.include_jquery() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <img src="static/images/title-icon.png" />
      <h1> Plyssningen v0.1 </h1>
    </header>

    <div class="intro-div">
      <p> {{data.infoText}} </p>
      <form method="post" action="{{ url_for( 'handle_podcast' ) }}">
        <select name="pod" onchange="this.form.submit()">
          {% if data.nrOfEps == None %}
            <option value="" disabled selected hidden> Välj en podcast </option>
          {% endif %}
          {% for item in data.podcasts %}
            <option> {{ item.title }} </option>
          {% endfor %}  
        </select>
      </form>
    </div>
    {% if data.nrOfEps != None %}
      <div class="nr-input">
        <form method="post" action="{{ url_for( 'handle_nrOfEps' ) }}">
          {% if data.nrOfEps == 0 %}
            <input name="nrOfEps" type="number" id="nrOfEps" placeholder="Välj antal avsnitt att spela in" onchange="this.form.submit()" />
          {% else %}
            <input name="nrOfEps" type="number" id="nrOfEps" value="{{ data.nrOfEps }}" onchange="this.form.submit()" />
          {% endif %}
        </form>
      </div>  
    {% endif %}
    {% if data.episodes != None %}
      {% for nr in range(data.nrOfEps) %}
        <form class="episodes" method="post" action="{{ url_for( 'handle_episode', nrOfEps = data.nrOfEps, epNr = nr ) }}">
          <select onchange="this.form.submit()" name="episode">
              {% if data.chosenEps[nr] == None %}
                <option value="" disabled selected hidden> Välj ett avsnitt </option>
              {% else %}
                <option> {{ data.chosenEps[nr].nr }}. {{ data.chosenEps[nr].name }} </option>
              {% endif %}
              {% for episode in data.episodes %}
                <option> {{ data.episodes[episode].nr }}. {{ data.episodes[episode].name }} </option>
              {% endfor %}
          </select>
        </form>
      {% endfor %}
      {% if data.nrOfChosenEps == data.chosenEpsLength %}
          <form action="{{ url_for( 'to_recording', podcast = data.podcast, currentEp = 0 ) }}" method="post">
            <button class="continue-button" name="forwardBtn" type="submit"> Till inspelning </button>
          </form>
      {% endif %}
    {% endif %}


  </body>

  <script>
    if( $(".episodes").html() === 'undefined' ) {
      $( 'h1' ).animate( { opacity: 1 }, 2000 );
      $( '.intro-div' ).animate( { opacity: 1 }, 2000 );
    } else {
      $( 'h1' ).css( { opacity: 1 } );
      $( '.intro-div' ).css( { opacity: 1 } );      
    }
  </script>
</html>
