<!DOCTYPE html>
<html>
  <head>
    <title>Plyssningen</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h2> Plyssningen v0.1 </h2>
    <form method="post" action="{{ url_for('handle_podcast')}}">
      <select onchange="this.form.submit()" name="pod">
        {% for item in data.podcasts %}
          <option> {{ item.title }} </option>
        {% endfor %}
      </select>
    </form>

    {% if data.episodes != None %}
      <form method="post" action="{{ url_for('handle_episode')}}">
        <select onchange="this.form.submit()" name="episode">
            {% for episode in data.episodes %}
                <option> {{ data.episodes[episode]['name'] }} </option>
            {% endfor %}
        </select>
      </form>
    {% endif %}

    {% if data.episode %}
      <form action="{{ url_for('to_recording')}}" method="post">
        <button name="forwardBtn" type="submit"> Fortsätt till inspelning </button>
      </form>
    {% endif %}
  </body>
</html>
