<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/title-icon.png" />
    <title>Plyssningen</title>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  	<div class="flex">
    	<h2> Plyssningen v0.1 </h2>
    	<div>
    		{{ moment().format('MMMM Do YYYY, h:mm:ss a') }}
    		<h3> Podcast: {{ data.podcast.replace("_"," ") }} </h3>
    		<h3> Avsnitt: {{ data.episode.replace("_"," ") }} </h3>
    		<h3> Tid: <span id="time"> 00:00 </span></h3>
    		<a href="{{ url_for('download', filename=data.podcast+' - '+data.episode) }}" target="_blank"><button>Ladda ner textfil</button></a>
    	</div>
		</div>
    <span id="record-status"></span> 
   	<button id="record-btn">Spela in</button>
  </body>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>
  	var timeInterval;
  	$('#record-btn').click( () => {
  		var btn = $('#record-btn');
      var recStatus = false;
  		if( btn.html() === 'Spela in' ) { 
        timer()
  			btn.html('Paus');
  		} else { 
  			btn.html('Spela in');
  		}
	  });

	  var timer = () => {
  		$.getJSON('/time', data => {
  			$('#time').html( data.time );
        $('#record-status').html( data.recordStatus );
        checkResult(); 
      });
	  };

    var checkResult = () => {
      $.getJSON('/checkResult', data => {
        console.log(data)
        $('#time').html( data.time );
        if(data.recordRes !== '') {
          $('#record-status').html( data.recordRes );
          $('#record-btn').html( 'Spela in' );
          saveResult();
        }else{
          setTimeout( () => { checkResult() }, 1000)
        }
      });
    };

    var saveResult = () => {
      $.getJSON('/saveResult', data => {
        console.log('Result saved!');
        console.log(data)
      })
    }
  	
  </script>
</html>
