<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/title-icon.png" />
    <title>Plyssningen</title>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  	<div class="flex">
      <div class="col-left">
        <h2> Plyssningen v0.1 </h2>
        <span id="record-status"></span> 
        <button id="record-btn">Spela in</button>
        <div id="allResults"> </div>
      </div>
    	<div class="col-right">
    		{{ moment().format('MMMM Do YYYY, h:mm:ss a') }}
    		<h3> Podcast: {{ data.podcast.replace("_"," ") }} </h3>
    		<h3> Avsnitt: {{ data.episode.replace("_"," ") }} </h3>
    		<h3> Tid: <span id="time"> 00:00 </span></h3>
    		<a href="{{ url_for('download', filename=data.podcast+' - '+data.episode) }}" target="_blank"><button>Ladda ner textfil</button></a>
    	</div>
		</div>
  </body>

  <script>
  	$( '#record-btn' ).click( () => {
  		var btn = $( '#record-btn' );
  		if( btn.css('visibility') === 'visible' ) { 
        timer()
  			btn.css('visibility', 'hidden');
  		}
	  });

	  var timer = () => {
  		$.getJSON( '/time', data => {
        $( '#record-status' ).html( data.recordStatus );
        checkResult(); 
      });
	  };

    var checkResult = () => {
      $.getJSON( '/checkResult', data => {
        $( '#time' ).html( data.time );
        if(!data.isListening) {
          $( '#record-status' ).html( 'Resultat: "' + data.recordRes +'"' );
          $( '#record-btn' ).css('visibility', 'visible');
          saveResult();
        } else if(data.recordRes === 'Analyserar ljud...') {
          $('#record-status').html( data.recordRes );
          setTimeout( () => { checkResult() }, 1000 )
        } else {
          setTimeout( () => { checkResult() }, 1000 )
        }
      });
    };

    var saveResult = () => {
      $.getJSON( '/saveResult', data => {
        var html = ''
        for( var i in data ){
          html += '<div class="flex"><div class="col-left">' + data[i] + '</div><div class="col-right">]</div></div>'
        }
        var div = $( '#allResults' );
        div.html( html );
        $( '#allResults' ).scrollTop( $( '#allResults' )[0].scrollHeight);

      })
    }
  	
  </script>
</html>
