<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/title-icon.png" />
    <title>Plyssningen v0.1</title>
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
  	<div class="flex">
      <div class="col-left">
        <header>
          <img src="static/images/title-icon.png" />
          <h1> Plyssningen v0.1 </h1>
        </header>
        <span id="record-status"></span> 
        <button id="record-btn">Spela in</button>
        <div class="next-ep" hidden>
          <form action="{{ url_for( 'to_recording', podcast = data.podcast, currentEp = data.currentEp + 1 ) }}" method="post">
            <button class="continue-button" name="forwardBtn" type="submit"> Till inspelning </button>
          </form>
        </div>
        <div class="flex">
          <div class="col-1">
            <h3> Tid </h3>
          </div>
          <div class="col-2">
            <h3> Inspelningsresultat </h3>
          </div>
        </div>
        <div id="allResults"> </div>
      </div>
    	<div class="col-right">
    		{{ moment().format('MMMM Do YYYY, h:mm:ss a') }}
        <h3> Podcast: <span id="pod"> {{ data.podcast.replace("_"," ") }} </span> </h3>
        {% for ep in data.chosenEps %}
          {% if data.chosenEps.index(ep) == data.currentEp %}
            <div class="current-ep">
          {% endif %}
          		<h3> Avsnitt: {{ ep.nr}}. {{ ep.name.replace("_"," ") }} </h3>
          		<h3 class="inline"> Tid: 
                <span id="{{ data.chosenEps.index(ep) }}"> 
                  00:00 
                </span>
                <span id="change-time" hidden>
                  <input class="time-inp" id="min" type="number" /> :
                  <input class="time-inp" id="sec" type="number" />
                </span>
              </h3>
              {% if data.chosenEps.index(ep) == data.currentEp %}
              <button class="time-btn inline">Ändra tid</button> 
          		<a href="{{ url_for('download', filename = data.podcast+'_-_avsnitt_'+data.episode['nr']|string ) }}" target="_blank">
                  <button> Ladda ner textfil </button>
              </a>
              {% endif %}
          {% if data.chosenEps.index(ep) == data.currentEp %}
            </div>
          {% endif %}
        {% endfor %}
    	</div>
		</div>
  </body>

  <script>

    $('h1').css( { opacity:1 });
    var btn = $( '#record-btn' );

  	$( '#record-btn' ).click( () => {
  		if( btn.html() === 'Spela in' ) { 
        btn.html( 'Pause' );
        timer();
      } else {
        btn.html( 'Avslutar...' );
      }
	  });

	  var timer = () => {
      if( btn.html() === 'Pause' ) {
        var currTime = $( '#' + $.urlParam( 'currentEp' ) ).html();
    		$.getJSON( '/time', { time: currTime }, data => {
          $( '#record-status' ).html( data.recordStatus );
          if( data.recordStatus !== 'Avsnittet färdig avlyssnat!' ) {
            checkResult();
          } else {
            btn.hide();
            $( '.next-ep' ).show();
          }
        });
      } else {
        btn.html( 'Spela in' );
      }
	  };

    var checkResult = () => {
      $.getJSON( '/checkResult', data => {
        $( '#' + $.urlParam( 'currentEp' ) ).html( data.time );
        if( !data.isListening ) {
          if( data.recordRes === "Tillåtelse till tangentbord nekat, vänligen tillåt detta." ) {
            $( '#record-status' ).html( data.recordRes );
          } else {
            $( '#record-status' ).html( 'Resultat: "' + data.recordRes +'"' );
            saveResult();
          }
          $( '#record-btn' ).css('visibility', 'visible');
        } else if( data.recordRes === 'Analyserar ljud...' ) {
          $('#record-status').html( data.recordRes );
          setTimeout( () => { checkResult() }, 1000 );
        } else {
          setTimeout( () => { checkResult() }, 1000 );
        }
      });
    };

    var saveResult = () => {
      $.getJSON( '/saveResult', data => {
        var html = '';
        for( var i in data ){
          html += '<div class="flex"><div class="col-1">' + data[i].time + '</div><div class="col-2">' + data[i].text + '</div></div>';
        }
        var div = $( '#allResults' );
        if( div[0].scrollHeight > div.height() ) {
          console.log('högre')
        }
        div.html( html );
        div.scrollTop( $( '#allResults' )[0].scrollHeight );
        timer();
      });
    };

    $('.time-btn').click( () => {
      var timeBtn = $( '.time-btn' );
      var timeTxt = $( '#' + $.urlParam( 'currentEp' ) );
      if( timeBtn.html() === 'Ändra tid' ) {
        timeBtn.html( 'Spara tid' );
        timeTxt.hide();
        var min = parseInt( timeTxt.html().split(':')[0] );
        var sec = parseInt( timeTxt.html().split(':')[1] );
        $( '#min' ).val( min );
        $( '#sec' ).val( sec );
        $('#change-time').show();
      } else {
        timeBtn.html( 'Ändra tid' )
        var min = $( '#min' ).val();
        var sec = $( '#sec' ).val();
        if( parseInt( min ) < 10 ) min = "0" + min;
        if( parseInt( sec ) < 10 ) sec = "0" + sec;
        timeTxt.html( min + ':' + sec );
        timeTxt .show()
        $('#change-time').hide()
      }
    });

    $.urlParam = function(name){
      var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
      return results[1] || 0;
    }
  	
  </script>
</html>
